In [ ]:
#P311
#여행을 떠날 수 있는 그룹 수의 최댓값
#공포도가 X인 모험가는 반드시 X명 이상으로 구성한 모험가 그룹에 참여해야 여행을 떠날 수 있다

#첫째줄에 모험가의 수 N이 주어진다
#둘째줄에 각 모험가의 공포도의 값을 N 이하 자연수로 준다. 자연수는 공백으로 구분되어있다.

"""
입력예시
5
2 3 1 2 2

출력예시
2
"""

In [32]:
n = int(input())
lst = map(int, input().split())

grp = []
[grp.append(i) for i in lst]
grp.sort()

team = 0 #총 그룹 수
count = 0 #현재(Current) 그룹에 포함된 모험가 수 

for i in grp:
  count += 1 
  if count >= i:
    team += 1
    count = 0 

print(team)

5
2 3 1 2 2
5 [1, 2, 2, 2, 3]

In [33]:
#답지

n = int(input())
data = list(map(int, input().split()))
data.sort()

2